.registroContainer {
    padding: 20px;
    margin: 30px auto;
    width: 600px;
    border-radius: 10px;
    border: 1px solid rgb(225, 213, 213);
    box-shadow: 1px 1px 5px rgb(179 176 176);
    position: relative;
}

.registroContainer h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225, 213, 213);
}

.registroExitosoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.registroExitosoContainer a {
    text-decoration: none;
}

@media screen and (max-width:650px) {
    
    .registroContainer{
        width: auto;
        margin: 20px;
    }

    
}