.navbar{
    width: 100%;
    background-color: blueviolet;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:850px) {
    .navbar {
      flex-direction: column;  
      position: relative;
    }

    .navbar * {
        margin: 10px 0;
    }

    .navegacion {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* [aria-current="page"] { */
.active {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

